body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
}

a{
    font-size: 32px;
    background-color: red;
}

ul, ol{
    background-color: yellow;
}

.description{
    font-style: italic;
}